@font-face {
    font-family: 'RotondaBold';
    src: url('../fonts/RotondaBold.svg#RotondaBold') format('svg'),
    url('../fonts/RotondaBold.ttf') format('truetype'),
    url('../fonts/RotondaBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:RotondaBold;
    margin: 0;

}
header{
    flex-direction: column;
    background: #fbf3eb url("../images/shapka.png") repeat-x;
    background-size: auto;
    height: 100%;
}
form input{
    padding: 5px;
    border: 0;
    border-right: none;
    float: left;
    width: 80%;
    border-radius: 25px 0 0 25px;
}

.button{
    padding: 5px;
    border: 0;
    border-left: none;
    border-radius: 0 25px 25px 0;
    width: 20%;
    float: left;
    background: #ffffff;
}
form{
    margin-top: 20px;
}
.s{
    margin-top: 10px;
    border: none;
    background: none;
    border-radius: 25px;
}
.text_head{
    text-align: center;
    font-size: 21px;
    color: #1d6587;
    margin: 0;
    text-shadow: 4px 0 4px #fff,
    0 4px 4px #fff,
    -4px 0 4px #fff,
    0 -4px 4px #fff;
}
.text_head1{
    text-align: center;
    font-size: 15px;
    color: #1d6587;
    margin: 0;
    text-shadow: 4px 0 4px #fff,
    0 4px 4px #fff,
    -4px 0 4px #fff,
    0 -4px 4px #fff;
}

.logo{

    margin-top: 30px;
    display: block;
    width: 100%;
}
.tel_icon{
    color: #3a617f;
    font-size: 22px;
}
.telephone1{
    font-size: 30px;
    color: #4a8cbf;
    border: #ffffff 5px;
    -webkit-text-stroke: 1px #ffffff;
}
.telephone2{

    font-size: 27px;
    color: #4a8cbf;
    border: #ffffff 5px;
    -webkit-text-stroke: 1px #ffffff;
}
.number{
    width: 100%;
    margin-top: 20px;
}
.graphic{
    width: 100%;
}
.button-container{
    background: #eff5f8;
    border-radius: 25px;
}
.clock{
    color:#17577a ;
}
.text-blue {
    color: rgb(60, 122, 151);
    font-weight: 500;
}
.bf{
    margin-top: 10px;
    border-radius: 25px;
    background: #ffffff;
}
.content{
    width: 100%;
    background: #fbf3eb;
}
ul{
    padding: 0;
    color: #090000;
}
.menu_item{
    list-style-type: none;
    font-family: "Trebuchet MS", sans-serif;
    color:#426986;
}

.kidsPram{
    font-size: 33px;
    font-family: RotondaBold;
    color: #2d5d7e;
}
.filter_item{

    padding-top: 10px;
    padding-bottom: 10px;
    margin: 11px;
    font-size: 15px;
    color: #090000;
    list-style-type: none;

}
.filter1{
    width: 93%;
    background:url("../pram/filter.png") no-repeat;
}
.filter_item:hover{
    background: #d6edf4;
    text-decoration: none;
    color: #090000;
}
.name{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 17px;
    padding-top: 20px;
}
.block_kolyaska{
    background: url("../pram/bg.png") no-repeat;

    height: 260px;
    width: 107%;
}
.kolyaska_img{
    align:left;
    margin-top: 25px;
}
.descrition{

    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    float:left;
    padding-top: 20px;
    padding-right: 20px;
}
.descrition1{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    float:left;
    padding-top: 20px;

}
.check{
    font-size: 20px;
    color: #84c225;
}
.descrition2{
    font-family: "Trebuchet MS", sans-serif;
    font-size: 14px;
    float:right;
    padding-top: 20px;
    padding-right: 30px;
    color: #84c225;
}
.buy{
    width: 134px;
    height: 33px;
    background: #fce200;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    margin: 0 0 40px;
}
.buy_skidka{
    width: 134px;
    height: 33px;
    background: #94d2f3;
    border-top-left-radius:25px;
    border-bottom-right-radius:25px;
    margin: 0;
}
.buy_text{
    font-size: 18px;
}
.buy_text1{
    color: #ffffff;
    font-size: 18px;
}
.price{
    color:#090000;
}
.page{
    margin-top: 20px;
    width: 100%;
    padding-bottom: 20px;
    background: url("../pram/page.png") no-repeat;
}
.page-item{
    vertical-align:middle;
    border-radius:25px;
    background: #cae5ee;
    font-size: 15px;
    margin: 15px;
    font-size: 16px;
    color: #090000;
    list-style-type: none;
}
.lider{
    color: #2d5d7e;
    padding: 40px 0 50px 120px;
    background: url("../pram/liders.png") no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.rb-wrapper{
    background: url("../pram/xmara.png") no-repeat ;
    background-size: contain;
    display: flex;
    justify-content: flex-start;
    padding: 20px 40px 20px 80px;
}
#issue-btn {
    margin: 10px 0 5px 0;
    border-radius: 30px;
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.slider{
}
.diapazon{

}
label{
    font-size: 20px;
color: #2d5d7e;
}

#amount{
    border:0;
    color:#f6931f;
    font-weight:bold;
}
.slider-bin {
    background: url(../pram/slider.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    align-items: start;
padding-bottom: 20px;
    padding-right: 150px;
}
.category-title{
    font-size: 20px;
}
.types-bin {
    background: url(../pram/types.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    color: #2d5d7e;
    font-size: 13px;
    align-items: start;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 130px;
}
.brends-bin {
    background: url(../pram/brends.png) no-repeat center;
    background-size: contain;
    display: flex;
    justify-content: flex-end;
    color: #2d5d7e;
    font-size: 13px;
    align-items: start;
    margin-top: 20px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-right: 200px;
}
.category-items-1  {
    list-style-image: url(../pram/block.png) !important;
    padding: 0;
    cursor: pointer;

    margin: 10px 0 0 0;
}
.category-items-1 a{
    color: #090000;
}
.category-items-1 a:hover {
    color: #090000;
}
.category-items-1 > ul > li{
    background:url(../pram/block.png) !important;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

.category-items-1 > ul > li.active{
    background:url(../pram/true.png) !important;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

li {

    list-style-type: none;
}
a{
    color: #090000;
}
.char-wrapper {
    background: url("../pram/characteristica.png") no-repeat center;
    height: 370px;
    padding-right: 120px;
    padding-left: 70px;
    padding-top: 50px;
    margin-top: 20px;
    color: #2d5d7e;
}
.char-wrapper1 {
    background: url("../pram/catalog.png") no-repeat center;
    background-size: contain;
    height: 470px;
    padding-right: 120px;
    padding-left: 70px;
    padding-top: 20px;
    margin-top: 20px;
    color: #2d5d7e;
}
.filter{

    background: none;
    padding-left: 60px;
}
.filter > ul > li{
    background:url('../images/plus.png') no-repeat;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

.filter > ul > li.active{
    background:url('../images/minus.png') no-repeat;
    float: left;
    cursor: pointer;
    padding-left: 20px;
}

.filter > ul > li .child{
    display: none;
}

.filter > ul > li.active .child{
    display: block;
}
footer {
    background: url(../images/footer_back.png) repeat-x 100% 100%;
    height: 200px;
    margin-top: -200px;
    position: relative;
}
footer .row {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 30px;
}
.logo1{
    display: inline-block;
    margin: auto;
}
.phone-number {
    font-family: 'RotondaBold';
    font-size: 2em;
    position: relative;
    padding-left: 40px;
}

.phone-number::before {
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 10px;
    left: 0;
    background: url(../images/phone_2.png) no-repeat center;
    background-size: contain;
}
#logo-footer {
    position: absolute;
    bottom: -40px;
}
.menu_item1 a{
    color: #ffffff;
    font-size: 25px;
    display: inline;
    margin: 5px;
}
.social{
    display: inline;
    cursor: pointer;
}

#blue-num { color: rgb(6, 70, 95); }

#skyblue-num { color: rgb(45, 93, 126); }

