
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  .convertor-wrapper{
    width: 683px;
    display: block;
    margin: 0 auto;
  }
  .data{
    text-align: center;
  }
</style>
<body>
  <div id="app" >

    <input type="search" v-model="searchString" style="display: block;margin: 20px auto;">
   
      <table align="center" border="2px" rules="all">
        <tr>
          <th>photo</th>
          <th>Name</th>
          <th>Group</th>
          <th>mark</th>
          <th>Passsed</th>
          <th></th>
        </tr>
        <tr v-for="student in search" style="text-align: center;">
          <td>{{student.photo}}</td>
          <td>{{student.name}}</td>
          <td>{{student.group}}</td>
          <td>{{student.mark}}</td>
          <td>
            <input type="checkbox" v-model="student.isDonePr">
          </td>
          <td><a href="#" :id="student.id" @click="deleteStudent(student.id)">Delete</a></td>
        </tr>
      </table> 
      <div class="addNew" style="width: 600px; display: block;margin: 20px auto;">
        <input type="text" placeholder="name" v-model.lazy="newStudent.name">
        <select type="text" placeholder="group" v-model="newStudent.group">
          <option value="РПЗ 17 1/9">РПЗ 17 1/9</option>
          <option value="РПЗ 17 2/9">РПЗ 17 2/9</option>
        </select>
        <input type="number" value=2000 placeholder="year of birth"v-model.number="newStudent.yearOfBith">
        <input type="checkbox" v-model.trim="newStudent.passed">
        <button @click="addNew()">Добавить</button>
      </div>
    
  </div>
  <div id="changeStyle"  v-bind:style="styleobj" v-on:mouseover="changebgcolor" v-on:mouseout="originalcolor" ></div>
  
  <div id="convertor">
    <div class="convertor-wrapper">
      <h1 style="text-align: center;">Конвертор валют</h1>
      <span>Amount:</span><input type="number" v-model="amount"> <br>
      <span>Convert from: </span>
      <select id="convertFrom" v-model="convertFrom" v-on:change="getFrom() ">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="RUR">RUB</option>
        <option value="EUR">EUR</option>
        <option value="BTC">BTC</option>
      </select> 
      <span>Convert to:</span>
      <select name="" id="convertTo" v-model="convertTo" v-on:change="getTo() ">
        <option value="UAH">UAH</option>
        <option value="USD">USD</option>
        <option value="RUR">RUB</option>
        <option value="EUR">EUR</option>
        <option value="BTC">BTC</option>
      </select>
      <button @click="result()">result</button>
      <p>Результат:{{converted}}</p>
      <div class="data" v-for="info in bankData">
        <p>{{info}}</p>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>